extends layout

block content
    #pageone(data-role='page')
        div(data-role='header')
            h1 #{title}
        div(data-role='content')
            form#registerForm(action='./information', method='get', enctype='multipart/form-data')
                p Welcome to the wonderful world of xyz.com. With advanced features of activating account and new login widgets, you will definitely have a great experience of using XYZ.谢谢 
                input(type='submit', value='Start', data-iconpos='false')
