doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.4/firebase.js')
    script.
        $("input[type='radio']").attr("checked",true).checkboxradio("refresh");
  body
    block content
        #pageone(data-role='page')
            div(data-role='header')
                h1 #{title}