extends layout

block content
    #pageone(data-role='page')
        div(data-role='header')
            h1 #{title}
        div(data-role='content')
            p Question #{question_number}:  #{question}
            form#registerForm(action='../questions/next?num=#{question_number}&topic=#{topic}&result=#{result}', method='get', enctype='multipart/form-data')
                fieldset(data-role='controlgroup')
                      input(id='#{answer1}' type='radio', name='radio-choice', value='1', checked='checked')
                      |      &#x9;
                      label(for='#{answer1}') #{answer1}
                      |      &#x9;
                      input(id='#{answer2}' type='radio', name='radio-choice', value='2')
                      |      &#x9;
                      label(for='#{answer2}') #{answer2}
                      |      &#x9;
                      input(id='#{answer3}' type='radio', name='radio-choice', value='3')
                      |      &#x9;
                      label(for='#{answer3}') #{answer3}
                input(type='submit', value='下一页')
